<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <hr>
    <h1 style="color:rgba(124, 121, 82, 0.466)" style="font-family: 'Times New Roman', Times, serif;">
        YOUR ASTROLOGICAL REPORTS
    </h1>
</div>
<div style="text-align: center">
    <span class=app-character astro="Character" astroDescription="The character describes most important behavioral patterns"> </span>
    <span class=app-character astro="Motivation" astroDescription="Motivation dynamics define what motivation you have on this particular moment"></span>
    <span class=app-character astro="Context" astroDescription="Context define background events in your life"></span>
</div>
<br>
<div style="text-align:center">
    <app-polarity></app-polarity>
    <canvas id="pieChart2" style="position: relative; height:40vh; width:80vw"></canvas>
    <canvas id="lineChart" style="position: relative; height:40vh; width:80vw"></canvas>
    <canvas id="barChart" style="position: relative; height:40vh; width:80vw"></canvas>
    <canvas id="pieChart" style="position: relative; height:40vh; width:80vw"></canvas>
</div>

<router-outlet></router-outlet>